<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>

<body>
    <div class="mb-4">
        <h3 class="text-lg font-semibold">สรุปประจำเดือน</h3>
        <p>รายรับทั้งเดือน: <%= totalIncome.toFixed(2) %> บาท</p>
        <p>รายจ่ายทั้งเดือน: <%= totalExpenses.toFixed(2) %> บาท</p>
        <p>ยอดคงเหลือ: <%= balance.toFixed(2) %> บาท</p>
    </div>

</body>

</html>